.animal-list {
    height: 100%;
    justify-items: center;
    font-family: sans-serif;
    background-color: brown;
    color: white;
    padding: 2rem;
}

.animal-list caption {
   font-size: 2rem;
   font-weight: bold;
   margin-block: 1rem;
}

.animal-list table, .animal-list table tr, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.animal-list tr, td {
    padding: 1rem;
}

.animal-list a {
    text-decoration: underline;
}